@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

/* ------------------------------------------------------------------ */
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  nav a {
    font-size: 14px;
  }
  .reserv a {
    font-size: 12px;
  }
  .tel {
    display: none;
  }
  .services p {
    font-size: 16px;
  }
}

/* ------------------------------------------------------------------ */
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .links {
    display: none;
  }
  .bars {
    display: block;
  }
  .showMobileNav {
    opacity: 1;
    visibility: visible;
    top: 70px;
    position: fixed;
    z-index: 2;
  }
  .banner-info {
    > .banner-title {
      font-size: 45px;
    }
    > .banner-description {
      font-size: 16px;
    }
  }
  .beauty-aboutUs {
    grid-template-columns: repeat(2, 48%);
    align-items: center;
  }
  .section-title {
    font-size: 40px;
  }
  .beauty-aboutUs .box h3 {
    font-size: 20px;
  }
  .services .section-title {
    width: 70%;
  }
  .services p {
    font-size: 12px;
  }
  .services span {
    font-size: 16px;
  }
  .services .box .btn1 {
    font-size: 13px;
    margin-top: 10px;
  }
  .james-left h3,
  .lieo-left h3 {
    font-size: 17px;
  }
  .james-left h4,
  .lieo-left h4 {
    font-size: 13px;
  }
}

/* ------------------------------------------------------------------ */
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .banner-info {
    > .banner-little-title {
      font-size: 13px;
    }
    > .banner-title {
      font-size: 35px;
      line-height: 50px;
    }
    > .banner-description {
      font-size: 15px;
    }
    > .btn {
      font-size: 12px;
      padding: 10px 15px;
    }
    .services .section-title {
      width: 10%;
    }
  }
  .procedure {
    grid-template-columns: repeat(2, 1fr);
  }
  .beauty-aboutUs {
    grid-template-columns: 1fr;
  }
  .services .boxes {
    grid-template-columns: 1fr;
    gap: 30px;
    > .box {
      text-align: center;
      margin: auto;
    }
  }
  .services .boxes .box:nth-child(3) {
    order: 3;
  }
  .services .boxes .box:nth-child(4) {
    order: 2;
  }
  .testimonials .boxes {
    grid-template-columns: 1fr;
  }
  .awesomeBenefits .boxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------------------------------------------------ */
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
  .banner-info {
    width: 100%;
    background-color: rgba(240, 248, 255, 0.7);
    padding: 20px;
  }
  .procedure {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 35px;
  }
  .awesomeBenefits .boxes {
    grid-template-columns: 1fr;
  }
}
