@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  nav a {
    font-size: 14px;
  }
  .reserv a {
    font-size: 12px;
  }
  .tel {
    display: none;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .links {
    display: none;
  }
  .bars {
    display: block;
  }
  .showMobileNav {
    opacity: 1;
    visibility: visible;
    top: 70px;
    position: fixed;
    z-index: 2;
  }
  .banner-info {
    > .banner-title {
      font-size: 45px;
    }
    > .banner-description {
      font-size: 16px;
    }
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .banner-info {
    > .banner-little-title {
      font-size: 13px;
    }
    > .banner-title {
      font-size: 35px;
      line-height: 50px;
    }
    > .banner-description {
      font-size: 15px;
    }
    > .btn {
      font-size: 12px;
      padding: 10px 15px;
    }
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
