* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Manrope-Regular;
  src: url(../fonts/ManropeFont/static/Manrope-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url(../fonts/PlayfairDisplayFont/static/PlayfairDisplay-Regular.ttf);
}

.container {
  max-width: 1320px;
  margin: auto;
}
header {
  background-color: white;
  position: sticky;
  top: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: Manrope-Regular;
}
nav a {
  font-size: 18px;
}
.logoAndTel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.tel {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 600;
}
.tel img {
  width: 20px;
}
.tel a {
  color: rgba(20, 20, 20, 1);
}
.links,
.pageLinks,
.reserv {
  display: flex;
  align-items: center;
  gap: 15px;
}
.links a {
  color: rgba(85, 85, 85, 1);
}
.socialMedia {
  display: flex;
  gap: 15px;
  align-items: stretch;
}
.reserv {
  gap: 5px;
  justify-content: center;
  padding: 10px;
  background-color: rgba(122, 156, 165, 1);
  > a {
    color: white;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
}
.logo img {
  width: 100%;
}
.bars {
  width: 25px;
  display: none;
  cursor: pointer;
  > img {
    width: 100%;
  }
}

.mobileNav {
  padding: 50px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  position: absolute;
  max-width: 300px;
  width: 100%;
  right: 0;
  height: calc(100% - 70px);
  background-color: rgba(237, 245, 247, 1);
  opacity: 0;
  visibility: hidden;
  transition: 0.7s;
  > .pageLinks {
    flex-direction: column;
    gap: 20px;
    > a {
      font-size: 25px;
      color: black;
    }
  }
  > .socialMedia {
    color: white;
    justify-content: space-evenly;
    align-items: center;
  }
}
/* header end */

.hero {
  background: url(../images/bannerBackground.svg) no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-info {
  width: 45%;
  font-family: Manrope-Regular;
}
.banner-little-title {
  display: flex;
  gap: 7px;
  align-items: center;
  > h3 {
    font-size: 15px;
    color: rgba(92, 134, 146, 1);
    letter-spacing: 1.5px;
  }
}
.banner-title {
  font-family: PlayfairDisplay-Regular;
  font-size: 60px;
  line-height: 70px;
}
.banner-description {
  font-size: 19px;
  line-height: 32px;
  margin: 20px 0;
}
.hero-btn {
  background-color: rgba(92, 134, 146, 1);
  color: white;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.btn {
  border: 2px solid rgba(92, 134, 146, 1);
  font-family: Manrope-Regular;
  font-weight: 800;
  font-size: 14px;
  display: inline-block;
  padding: 15px 20px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.hero-btn:hover {
  color: rgba(92, 134, 146, 1);
  background-color: #ebf3f5;
}
/* hero end */

.section1 {
  padding: 70px 0;
}
.procedure {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.procedure .box {
  padding: 10px;
  > h3 {
    font-family: PlayfairDisplay-Regular;
    font-size: 26px;
    line-height: 31px;
  }
  > p {
    font-size: 18px;
    color: rgba(85, 85, 85, 1);
    line-height: 30px;
    font-family: Manrope-Regular;
    margin: 20px 0;
  }
  > a {
    color: black;
  }
}
.procedure .box img {
  width: 100%;
}
.btn1 {
  color: black;
}
.btn1:hover {
  background-color: rgba(92, 134, 146, 1);
  color: white !important;
}

/* section1 end */

.section2 {
  padding: 70px 0;
  background-color: rgba(235, 243, 245, 1);
}
.beauty-aboutUs {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  justify-content: space-between;
  gap: 30px;
}
.section-little-title {
  color: rgba(92, 134, 146, 1);
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 154%;
  font-family: Manrope-Regular;
}
.section-title {
  font-family: PlayfairDisplay-Regular;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: -1%;
  margin: 10px 0 20px 0;
}
.section-description {
  font-size: 18px;
  font-family: Manrope-Regular;
  line-height: 30px;
  color: rgba(85, 85, 85, 1);
}
.beauty-aboutUs .boxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
  > .box {
    background-color: white;
    text-align: center;
    padding: 10px;
    border: 1px solid;
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  > h3 {
    font-size: 22px;
    line-height: 26px;
    font-family: PlayfairDisplay-Regular;
  }
  > img {
    width: 100%;
  }
}
.beauty-aboutUs .box:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.beauty-aboutUs .left-box {
  padding: 20px 0;
}
.beauty-aboutUs .right-box {
  padding: 30px;
}
.beauty-aboutUs .right-box img {
  box-shadow: 30px -30px #87abb5;
  width: 100%;
}
/* section2 end */

.section3 {
  padding: 70px 0;
}
.services .section-little-title,
.services .section-title {
  text-align: center;
}
.services .section-title {
  width: 60%;
  margin: auto;
}
.services .boxes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  > .box {
    max-width: fit-content;
  }
}
.services .box:nth-child(2) {
  padding-left: 20px;
}
.services .box:nth-child(3) {
  padding-right: 20px;
}
.services .box img {
  width: 100%;
}
.services span {
  font-size: 22px;
  line-height: 28px;
  font-family: PlayfairDisplay-Regular;
  color: black;
}
.services span:first-child {
  font-weight: 700;
}
.services p {
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(85, 85, 85, 1);
  font-family: Manrope-Regular;
  margin: 15px 0;
  border-bottom: 1px solid rgba(155, 183, 191, 0.5);
}
.services .box .btn1 {
  margin-top: 20px;
}
/* section3 end */

.section4 {
  background-color: rgba(237, 245, 247, 1);
  padding: 70px 0;
}
.testimonials {
  padding: 50px 0;
}
.testimonials .boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.testimonials .section-little-title,
.testimonials .section-title {
  text-align: center;
}
.testimonials .boxes .box {
  background-color: rgba(255, 255, 255, 1);
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  > p {
    padding: 25px;
    margin-bottom: 30px;
    font-family: Manrope-Regular;
    font-size: 18px;
    line-height: 180%;
  }
}
.testimonials .boxes .box:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.james,
.lieo {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(30, 44, 48, 1);
  color: white;
  padding: 20px 30px;
}

.james-left,
.lieo-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.james-left h3,
.lieo-left h3 {
  font-size: 20px;
  letter-spacing: -1%;
  line-height: 160%;
  font-family: PlayfairDisplay-Regular;
}
.james-left h4,
.lieo-left h4 {
  font-size: 14px;
  letter-spacing: 3%;
  font-family: Manrope-Regular;
  line-height: 160%;
}
/* section4 end */

.section5 {
  padding: 70px 0;
}
.awesomeBenefits {
  padding: 50px 0;
}
.awesomeBenefits .section-little-title,
.awesomeBenefits .section-title {
  text-align: center;
}
.awesomeBenefits .boxes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
}
.awesomeBenefits .box h3 {
  font-size: 24px;
  line-height: 120%;
  font-family: PlayfairDisplay-Regular;
  margin: 15px 0;
}
.awesomeBenefits .box p {
  font-family: Manrope-Regular;
  font-size: 18px;
  color: rgba(85, 85, 85, 1);
  line-height: 165%;
  letter-spacing: 2%;
}
/* section5 end */

.section6 {
  padding: 70px 0;
  background-color: rgba(237, 245, 247, 1);
}
.flatDiscount {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10%;
}
.offer {
  margin-top: 30px;
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.offer-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
  margin: auto;
}
.offer-info a {
  font-size: 15px;
  font-family: Manrope-Regular;
  color: rgba(20, 20, 20, 1);
  line-height: 150%;
  letter-spacing: 1.5px;
  > span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 8%;
  }
}
.offer-call,
.offer-mail {
  display: flex;
  gap: 20px;
}
.offer-img {
  background-color: #1e2c30;
}
.offer-img img {
  height: 100%;
  width: 100%;
}
.flatDiscount .rightBox {
  padding: 50px 0;
  background-color: white;
  font-size: 18px;
  font-family: Manrope-Regular;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  > form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
.flatDiscount .rightBox:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.flatDiscount input,
.flatDiscount select,
.flatDiscount textarea {
  border: 1px solid rgba(92, 134, 146, 1);
  font-family: Manrope-Regular;
  padding: 15px;
}
.flatDiscount textarea {
  resize: none;
  height: 150px;
}
.btn2 {
  background-color: rgba(92, 134, 146, 1);
  color: white;
}
.btn2:hover {
  background-color: white;
  color: rgba(92, 134, 146, 1);
}
/* section6 end */
